version: 2.1
orbs:
  heroku: circleci/heroku@0.0.8
jobs:
  build:
    docker:
      - image: circleci/node:12.16.1

    working_directory: ~/repo

    steps:
      - checkout
      - heroku/install
      - setup_remote_docker:
          docker_layer_caching: false

      - run: npm install

      - run:
          name: Build Docker Image
          command: docker build -t sz-app .

      - run:
          name: Push To Heroku
          command: |
            docker login --username=$HEROKU_LOGIN --password=$HEROKU_API_KEY registry.heroku.com
            docker tag sz-app registry.heroku.com/$HEROKU_APP_NAME/web
            docker push registry.heroku.com/$HEROKU_APP_NAME/web:latest

      - run:
          name: Publish to Heroku
          command: heroku container:release web -a $HEROKU_APP_NAME